<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="">
    <title>10 mail</title>
</head>
<body>

    <div id="app">
        <button @click="sendMeMail">Stampa Lista Mail</button>
        <button @click="reset">Svuota lista</button>

        <p v-if="isLoading">Loading...</p>

        <ol v-else>
            <li v-for="curMail in listMail">
                {{ curMail }}
            </li>
        </ol>
    
    </div>


    <!-- axios -->
    <script
     src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
     integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
     crossorigin="anonymous"
     referrerpolicy="no-referrer"
  ></script>
    <!-- /axios -->
    
    <!-- custom script -->
    <script src="./js/script.js"></script>
    <!-- /custom script -->
</body>
</html>